-- CreateEnum
CREATE TYPE "SkillAssessmentStatus" AS ENUM ('IN_PROGRESS', 'SUBMITTED', 'PASSED', 'FAILED', 'EXPIRED');

-- CreateEnum
CREATE TYPE "VerifiedSkillLevel" AS ENUM ('BEGINNER', 'INTERMEDIATE', 'PROFESSIONAL', 'EXPERT');

-- AlterTable
ALTER TABLE "user_skills" ADD COLUMN     "last_assessment_id" BIGINT,
ADD COLUMN     "verified_at" BIGINT,
ADD COLUMN     "verified_level" "VerifiedSkillLevel";

-- CreateTable
CREATE TABLE "skill_assessment_config" (
    "id" BIGSERIAL NOT NULL,
    "skill_name" VARCHAR(255) NOT NULL,
    "question_count" INTEGER NOT NULL DEFAULT 10,
    "min_pass_points" INTEGER NOT NULL DEFAULT 60,
    "max_points" INTEGER NOT NULL DEFAULT 100,
    "level_thresholds" JSONB NOT NULL,
    "max_attempts" INTEGER NOT NULL DEFAULT 3,
    "cooldown_hours" INTEGER NOT NULL DEFAULT 24,
    "attempt_timeout_minutes" INTEGER NOT NULL DEFAULT 60,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" BIGINT NOT NULL,
    "updated_at" BIGINT NOT NULL,

    CONSTRAINT "skill_assessment_config_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "skill_assessment" (
    "id" BIGSERIAL NOT NULL,
    "user_skill_id" BIGINT NOT NULL,
    "user_id" BIGINT NOT NULL,
    "skill_name" VARCHAR(255) NOT NULL,
    "status" "SkillAssessmentStatus" NOT NULL DEFAULT 'IN_PROGRESS',
    "attempt_number" INTEGER NOT NULL,
    "min_points" INTEGER NOT NULL,
    "max_points" INTEGER NOT NULL,
    "total_points" INTEGER NOT NULL,
    "scored_points" INTEGER,
    "level" "VerifiedSkillLevel",
    "started_at" BIGINT NOT NULL,
    "submitted_at" BIGINT,
    "expires_at" BIGINT,
    "created_at" BIGINT NOT NULL,
    "updated_at" BIGINT NOT NULL,

    CONSTRAINT "skill_assessment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "assessment_question" (
    "id" BIGSERIAL NOT NULL,
    "assessment_id" BIGINT NOT NULL,
    "question" TEXT NOT NULL,
    "options" JSONB NOT NULL,
    "correct_option" VARCHAR(500) NOT NULL,
    "points" INTEGER NOT NULL,
    "order" INTEGER NOT NULL,

    CONSTRAINT "assessment_question_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "assessment_answer" (
    "id" BIGSERIAL NOT NULL,
    "assessment_id" BIGINT NOT NULL,
    "question_id" BIGINT NOT NULL,
    "selected_option" VARCHAR(500) NOT NULL,
    "is_correct" BOOLEAN NOT NULL,
    "points_awarded" INTEGER NOT NULL,
    "created_at" BIGINT NOT NULL,

    CONSTRAINT "assessment_answer_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "skill_assessment_config_skill_name_key" ON "skill_assessment_config"("skill_name");

-- CreateIndex
CREATE INDEX "skill_assessment_user_skill_id_idx" ON "skill_assessment"("user_skill_id");

-- CreateIndex
CREATE INDEX "skill_assessment_user_id_idx" ON "skill_assessment"("user_id");

-- CreateIndex
CREATE INDEX "skill_assessment_skill_name_idx" ON "skill_assessment"("skill_name");

-- CreateIndex
CREATE INDEX "skill_assessment_status_idx" ON "skill_assessment"("status");

-- CreateIndex
CREATE INDEX "skill_assessment_level_idx" ON "skill_assessment"("level");

-- CreateIndex
CREATE INDEX "skill_assessment_submitted_at_idx" ON "skill_assessment"("submitted_at");

-- CreateIndex
CREATE UNIQUE INDEX "skill_assessment_user_skill_id_attempt_number_key" ON "skill_assessment"("user_skill_id", "attempt_number");

-- CreateIndex
CREATE INDEX "assessment_question_assessment_id_idx" ON "assessment_question"("assessment_id");

-- CreateIndex
CREATE UNIQUE INDEX "assessment_question_assessment_id_order_key" ON "assessment_question"("assessment_id", "order");

-- CreateIndex
CREATE INDEX "assessment_answer_assessment_id_idx" ON "assessment_answer"("assessment_id");

-- CreateIndex
CREATE UNIQUE INDEX "assessment_answer_assessment_id_question_id_key" ON "assessment_answer"("assessment_id", "question_id");

-- CreateIndex
CREATE INDEX "user_skills_verified_level_idx" ON "user_skills"("verified_level");

-- CreateIndex
CREATE INDEX "user_skills_skillName_idx" ON "user_skills"("skillName");

-- AddForeignKey
ALTER TABLE "skill_assessment" ADD CONSTRAINT "skill_assessment_user_skill_id_fkey" FOREIGN KEY ("user_skill_id") REFERENCES "user_skills"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "skill_assessment" ADD CONSTRAINT "skill_assessment_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "assessment_question" ADD CONSTRAINT "assessment_question_assessment_id_fkey" FOREIGN KEY ("assessment_id") REFERENCES "skill_assessment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "assessment_answer" ADD CONSTRAINT "assessment_answer_assessment_id_fkey" FOREIGN KEY ("assessment_id") REFERENCES "skill_assessment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "assessment_answer" ADD CONSTRAINT "assessment_answer_question_id_fkey" FOREIGN KEY ("question_id") REFERENCES "assessment_question"("id") ON DELETE CASCADE ON UPDATE CASCADE;

